# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
BuildItBigger/.idea/misc.xml
BuildItBigger/.idea/misc.xml
BuildItBigger/.idea/modules.xml
*.iml
BuildItBigger/.idea/misc.xml
BuildItBigger/.idea/modules.xml
BuildItBigger/.idea/misc.xml
*.iml
*.iml
*.discovery
BuildItBigger/backend/build/generated-source/endpoints/java/com/example/lenovo/myapplication/backend/myApi/model/MyBean.java
BuildItBigger/backend/build/generated-source/endpoints/java/com/example/lenovo/myapplication/backend/myApi/MyApi.java
BuildItBigger/backend/build/generated-source/endpoints/java/com/example/lenovo/myapplication/backend/myApi/MyApiRequest.java
BuildItBigger/backend/build/generated-source/endpoints/java/com/example/lenovo/myapplication/backend/myApi/MyApiRequestInitializer.java
BuildItBigger/backend/build/generated-source/endpoints/java/com/example/lenovo/myapplication/backend/myApi/MyApiScopes.java
BuildItBigger/backend/build/libs/backend-android-endpoints.jar
*.war
BuildItBigger/backend/build/tmp/appengineEndpointsExpandClientLibs/myApi-v1-java.zip-unzipped/myApi/build.gradle
*.txt
BuildItBigger/backend/build/tmp/appengineEndpointsExpandClientLibs/myApi-v1-java.zip-unzipped/myApi/readme.html
BuildItBigger/backend/build/tmp/appengineEndpointsExpandClientLibs/myApi-v1-java.zip-unzipped/myApi/src/main/java/com/example/lenovo/myapplication/backend/myApi/model/MyBean.java
BuildItBigger/backend/build/tmp/appengineEndpointsExpandClientLibs/myApi-v1-java.zip-unzipped/myApi/src/main/java/com/example/lenovo/myapplication/backend/myApi/MyApi.java
BuildItBigger/backend/build/tmp/appengineEndpointsExpandClientLibs/myApi-v1-java.zip-unzipped/myApi/src/main/java/com/example/lenovo/myapplication/backend/myApi/MyApiRequest.java
BuildItBigger/backend/build/tmp/appengineEndpointsExpandClientLibs/myApi-v1-java.zip-unzipped/myApi/src/main/java/com/example/lenovo/myapplication/backend/myApi/MyApiRequestInitializer.java
BuildItBigger/backend/build/tmp/appengineEndpointsExpandClientLibs/myApi-v1-java.zip-unzipped/myApi/src/main/java/com/example/lenovo/myapplication/backend/myApi/MyApiScopes.java
*.iml
BuildItBigger/jokeview/jokeview.iml
BuildItBigger/.idea/gradle.xml
BuildItBigger/.idea/modules.xml
*.iml
BuildItBigger/backend/build/classes/endpointsSrc/com/example/lenovo/myapplication/backend/myApi/model/MyBean.class
BuildItBigger/backend/build/classes/endpointsSrc/com/example/lenovo/myapplication/backend/myApi/MyApi$Builder.class
BuildItBigger/backend/build/classes/endpointsSrc/com/example/lenovo/myapplication/backend/myApi/MyApi$SayHi.class
BuildItBigger/backend/build/classes/endpointsSrc/com/example/lenovo/myapplication/backend/myApi/MyApi.class
BuildItBigger/backend/build/classes/endpointsSrc/com/example/lenovo/myapplication/backend/myApi/MyApiRequestInitializer.class
BuildItBigger/backend/build/classes/endpointsSrc/com/example/lenovo/myapplication/backend/myApi/MyApiRequest.class
BuildItBigger/backend/build/classes/main/com/example/Lenovo/myapplication/backend/MyBean.class
BuildItBigger/backend/build/classes/main/com/example/Lenovo/myapplication/backend/MyEndpoint.class
*.zip
BuildItBigger/backend/build/classes/endpointsSrc/com/example/lenovo/myapplication/backend/myApi/MyApiScopes.class
BuildItBigger/backend/build/tmp/appengineEndpointsExpandClientLibs/myApi-v1-java.zip-unzipped/myApi/src/main/java/com/example/lenovo/myapplication/backend/myApi/MyApi.java
BuildItBigger/backend/build/libs/backend-android-endpoints.jar
BuildItBigger/backend/build/generated-source/endpoints/java/com/example/lenovo/myapplication/backend/myApi/MyApiScopes.java
BuildItBigger/backend/build/generated-source/endpoints/java/com/example/lenovo/myapplication/backend/myApi/MyApiRequestInitializer.java
BuildItBigger/backend/build/generated-source/endpoints/java/com/example/lenovo/myapplication/backend/myApi/MyApiRequest.java
BuildItBigger/backend/build/generated-source/endpoints/java/com/example/lenovo/myapplication/backend/myApi/MyApi.java
BuildItBigger/backend/build/generated-source/endpoints/java/com/example/lenovo/myapplication/backend/myApi/model/MyBean.java
*.class
BuildItBigger/backend/build/generated-source/endpoints/java/com/example/lenovo/myapplication/backend/myApi/model/MyBean.java
BuildItBigger/backend/build/generated-source/endpoints/java/com/example/lenovo/myapplication/backend/myApi/MyApi.java
